body {
  margin: 0;
  font-family: Helvetica;
  color: rgb(195, 195, 195);
  font-size: 13px;
}

body > div {
  padding: 1rem;
  background: url(https://images2.imgbox.com/a6/b9/n5j3bM7a_o.jpg);
  background-size: 130vw;
  background-position: -15vw;
}

.main {
  width: 75vw;
  margin: auto;
}

.main__title {
  margin-top: 0; 
}

.gems {
  display: flex;
}

.gems-active {
  width: 50%;
}

.gems-list {
  width: 50%;
  max-height: 100vh;
  overflow-y: auto;
}

.gems-list-item {
  padding: 5px;
  margin: 10px 10px 30px 10px;
  background: url(https://1.bp.blogspot.com/-UXxxyClp_2s/X0g2ps2lHiI/AAAAAAAAghg/m9lzcE6xYu0mbUWjzt-1Vwvhcdyjh9nCACLcBGAsYHQ/s1711/bg_big-sheader12.jpg) no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.gems-list-item::after {
  content: '';
  background: url(https://3.bp.blogspot.com/-c_f13GwabG8/VPYhtCIIZ0I/AAAAAAAAFhg/MORn_jUt8mc/s1600/footer_bottom_ornament.jpg) no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 75%;
  position: absolute;
  top: 100%;
  left: 0;
}

.gems-list-item:hover {
  color: white;
}

.gems-list-item.active {
  color: rgb(179, 144, 80);
}

/*.dropdown .dropdown-button {
  color: rgb(179, 144, 80);
}

.dropdown-collapsed .dropdown-button:hover {
  color: white;
}

.dropdown-collapsed .dropdown-content {
  display: none;
}

.dropdown-content > div:hover {
  color: rgb(179, 144, 80);
  cursor: pointer;
}*/

.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}
